# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/rebar.xml
.idea/**/vcs.xml
.idea/**/modules.xml
.idea/**/misc.xml
.idea/**/jsLibraryMappings.xml
.idea/**/externalDependencies.xml
.pictalas.iml

.DS_Store




Press h to open a hovercard with more details.